.losepopup-box {
    background-color: rgba(0, 0, 0,
            0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.losepopup {
    display: flex;
    background-color: #fff;
    width: 600px;
    height: 300px;
    max-width: 100%;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    z-index: 100;
}

.restart {
    width: 200px;
    height: 75px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    bottom: 0;
    z-index: 300;
}

.restart:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}