body {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.player-name {
  color: var(--white);
  font-size: 25px;
  font-weight: 800;
}

.answer-box {
  width: 50%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.answer-team {
  font-size: 20px;
  font-weight: 700;
  background-color: none;
  color: var(--white);
}

.answer-team-correct {
  background-color: var(--green);
}

.answer-pos {
  font-size: 20px;
  font-weight: 700;
  background-color: none;
  color: var(--white);
}

.answer-pos-correct {
  background-color: var(--green);
}