body {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.player-name {
  color: var(--white);
  font-size: 25px;
  font-weight: 800;
}

.answer-box {
  width: 50%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.answer-team {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  background-color: none;
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
}

.answer-team img {
  max-width: 100%;
  max-height: 100%;
}

.answer-team-correct {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  background-color: var(--green);
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
  background-color: var(--green);
}

.answer-pos {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  background-color: none;
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
}

.answer-pos-correct {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  background-color: none;
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
  background-color: var(--green);
}

.answer-age {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
  background-size: var(--answer-circle-size);
}


.answer-age-correct {
  width: var(--answer-circle-size);
  height: var(--answer-circle-size);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
  line-height: var(--answer-circle-size);
  vertical-align: middle;
}